.onboarding {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

.slides { 
    display: flex;
    width: 300vw;
    height: 100%;
    transition: transform 0.4s ease;
}

.slide {
    width: 100vw;
    height: 100svh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide:nth-child(1) {background: #ffffff; }
.slide:nth-child(2) {background: #e0f7fa;}
.slide:nth-child(3) {background: #e8f5e9;}

button {
    margin-top: 20px;
    padding: 12px 25px;
    border:none;
    border-radius: 8px;
    background:black ;
    color: white;
    font-size: 16px;
}

header img {
    width: 120px;
    height: 110px;
    border-radius: 20px;
}

.cymshines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cymshines h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    margin-bottom: -0px;
}

header {
    background-color: #fffddf;
}

.cymshines p {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.registro {
    background-color: #f6f5e8;
    color: rgb(30, 28, 28);
}

.error {
    color: red;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: #ffffff;
    margin-top: 180px;
    font-size: 18px;
    padding: 30px 30px;
}

.formulario h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.formulario input {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
